.plants{
  min-height: 500px;    
  background: rgba(29, 47, 48, 1);
}

.plants__container{
  padding: 20px 11.8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
}

.plants__slider{
  background-color: red;
}

@media (max-width: 1400px) {
  .plants__container{    
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;
  }
}

@media (max-width: 1140px) {
  .plants__container{    
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
  }
}

/* https://doka.guide/css/media/ */