.plants{
  min-height: 500px;    
  background: rgba(29, 47, 48, 1);
}

.plants__container{
  padding: 20px 11.8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
}

.plants__slider{
  background-color: red;
}

.plant{
  width: 255px;
  height: 493px;
  background-color: antiquewhite;
}